@mixin tag($color, $bordercolor) {
    border: 1px solid $bordercolor;
    text-align: center;
    color: $color;
    font-size: 12px;
    padding: 0px 4px;
    margin-left: 5px;
    border-radius: 5px;
}

@mixin fontsettings($size, $weight, $lheight, $color) {
    font-size: $size;
    font-weight: $weight;
    line-height: $lheight;
    color: $color;
}

/////////////////////////////////
/// 
/// https://github.com/cmd777
/// 

$text: #e2eeed;
$background: #202020;
$primary: #108dcc;

$red: #d60628;
$gray: #909090;
$gold: #f8cf29;
$green: #5dc55e;
$silver: #C0C0C0;

$gray-var1: #646464;

/////////////////////////////////
/// 
/// https://realtimecolors.com
/// https://github.com/cmd777
/// 

$text-solarized: #e2eeed;
$background-solarized: #081921;
$primary-solarized: #2e8dbd;

$red-solarized: #dc322f;
$gray-solarized: #586e75;
$gold-solarized: #b58900;
$green-solarized: #859900;
$silver-solarized: #657b83;

$gray-var1-solarized: #93a1a1;

html.solarized {
    color: $text-solarized;
    background-color: darken($background-solarized, 1%);

    body {
        color: $text-solarized;
        background-color: darken($background-solarized, 1%);    
    }

    .stickbox {
        background-color: lighten($background-solarized, 3%);
    
        .navbox a {
            color: $primary-solarized;
        }
    }

    a {
        &:hover:not(.l-hovergray) {
            border-color: $primary-solarized;
        }
    
        &:link {
            color: $primary-solarized;
        }
    }

    blockquote {
        border-left: 3px solid $gray-var1-solarized;
    }

    .subinfo {
        background-color: $background-solarized;
    }

    .ltype1 {
        @include fontsettings(24px, 700, 1.7em, $text-solarized);
    }
    
    .ltype2 {
        @include fontsettings(13px, 600, 20px, $gray-solarized);
    }

    #posts div.post {
        background-color: lighten($background-solarized, 1%);
    }
    
    .authorflair {
        color: $text-solarized;
        background-color: $gray-var1-solarized;
    }
    
    .postdata {
        color: $gray-solarized;
    }

    .licon {
        fill: $green-solarized;
    }
    
    .goldicon {
        fill: $gold-solarized;
    }
    
    .gicon {
        fill: $gray-solarized;
    }
    
    .ricon {
        fill: $red-solarized;
    }
    
    .sicon {
        fill: $silver-solarized;
    }
    
    .gtext {
        @include fontsettings(12px, 700, initial, $gray-solarized);
    }

    .extlinkicon {
        background-color: $primary-solarized;
        fill: $text-solarized;
    }
    
    img:not(.malign), video {
        &.preview {
            box-shadow: 0 0 2px $primary-solarized;
        }
    }

    .gallery .gallery-nav label { 
        background-color: $silver-solarized;
        border: 2px solid $primary-solarized;
    }
    
    .nsfwtag {
        @include tag($red-solarized, $red-solarized)
    }

    .post-footer .l-hovergray:hover {
        background-color: $gray-var1-solarized;
    }

    .spoilertag {
        @include tag($gray-var1-solarized, $gray-var1-solarized)
    }

    .originaltag {
        @include tag($text-solarized, $primary-solarized);
        background-color: $primary-solarized;
    }

    .configform {
        label, pre {
            color: $text-solarized;
        }
    }
}

/////////////////////////////////
/// 
/// https://draculatheme.com/contribute
/// 

$text-dracula: #f8f8f2;
$background-dracula: #282a36;
$primary-dracula: #6272a4;

$red-dracula: #ff5555;
$gray-dracula: #97979b;
$gold-dracula: #f1fa8c;
$green-dracula: #50fa7b;
$silver-dracula: #bfbfbf;

$gray-var1-dracula: #5a5a5a;

html.dracula {
    color: $text-dracula;
    background-color: darken($background-dracula, 1%);

    body {
        color: $text-dracula;
        background-color: darken($background-dracula, 1%);    
    }

    .stickbox {
        background-color: lighten($background-dracula, 3%);
    
        .navbox a {
            color: $primary-dracula;
        }
    }

    a {
        &:hover:not(.l-hovergray) {
            border-color: $primary-dracula;
        }
    
        &:link {
            color: $primary-dracula;
        }
    }

    blockquote {
        border-left: 3px solid $gray-var1-dracula;
    }

    .subinfo {
        background-color: $background-dracula;
    }

    .ltype1 {
        @include fontsettings(24px, 700, 1.7em, $text-dracula);
    }
    
    .ltype2 {
        @include fontsettings(13px, 600, 20px, $gray-dracula);
    }

    #posts div.post {
        background-color: lighten($background-dracula, 1%);
    }
    
    .authorflair {
        color: $text-dracula;
        background-color: $gray-var1-dracula;
    }
    
    .postdata {
        color: $gray-dracula;
    }

    .licon {
        fill: $green-dracula;
    }
    
    .goldicon {
        fill: $gold-dracula;
    }
    
    .gicon {
        fill: $gray-dracula;
    }
    
    .ricon {
        fill: $red-dracula;
    }
    
    .sicon {
        fill: $silver-dracula;
    }
    
    .gtext {
        @include fontsettings(12px, 700, initial, $gray-dracula);
    }

    .extlinkicon {
        background-color: $primary-dracula;
        fill: $text-dracula;
    }
    
    img:not(.malign), video {
        &.preview {
            box-shadow: 0 0 2px $primary-dracula;
        }
    }

    .gallery .gallery-nav label { 
        background-color: $silver-dracula;
        border: 2px solid $primary-dracula;
    }
    
    .nsfwtag {
        @include tag($red-dracula, $red-dracula)
    }

    .post-footer .l-hovergray:hover {
        background-color: $gray-var1-dracula;
    }

    .spoilertag {
        @include tag($gray-var1-dracula, $gray-var1-dracula)
    }

    .originaltag {
        @include tag($text-dracula, $primary-dracula);
        background-color: $primary-dracula;
    }

    .configform {
        label, pre {
            color: $text-dracula;
        }
    }
}

/////////////////////////////////
///
/// https://github.com/gerane/VSCodeThemes/tree/master/gerane.Theme-Abyss
/// 

$text-abyss: #6688cc;
$background-abyss: #000c18;
$primary-abyss: #60508a;

$red-abyss: #c1361f;
$gray-abyss: #f92672;
$gold-abyss: #050505;
$green-abyss: #22aa44;
$silver-abyss: #ae81ff;

$gray-var1-abyss: #9966b8;

html.abyss {
    color: $text-abyss;
    background-color: darken($background-abyss, 1%);

    body {
        color: $text-abyss;
        background-color: darken($background-abyss, 1%);    
    }

    .stickbox {
        background-color: lighten($background-abyss, 3%);
    
        .navbox a {
            color: $primary-abyss;
        }
    }

    a {
        &:hover:not(.l-hovergray) {
            border-color: $primary-abyss;
        }
    
        &:link {
            color: $primary-abyss;
        }
    }

    blockquote {
        border-left: 3px solid $gray-var1-abyss;
    }

    .subinfo {
        background-color: $background-abyss;
    }

    .ltype1 {
        @include fontsettings(24px, 700, 1.7em, $text-abyss);
    }
    
    .ltype2 {
        @include fontsettings(13px, 600, 20px, $gray-abyss);
    }

    #posts div.post {
        background-color: lighten($background-abyss, 1%);
    }
    
    .authorflair {
        color: $text-abyss;
        background-color: $gray-var1-abyss;
    }
    
    .postdata {
        color: $gray-abyss;
    }

    .licon {
        fill: $green-abyss;
    }
    
    .goldicon {
        fill: $gold-abyss;
    }
    
    .gicon {
        fill: $gray-abyss;
    }
    
    .ricon {
        fill: $red-abyss;
    }
    
    .sicon {
        fill: $silver-abyss;
    }
    
    .gtext {
        @include fontsettings(12px, 700, initial, $gray-abyss);
    }

    .extlinkicon {
        background-color: $primary-abyss;
        fill: $text-abyss;
    }
    
    img:not(.malign), video {
        &.preview {
            box-shadow: 0 0 2px $primary-abyss;
        }
    }

    .gallery .gallery-nav label { 
        background-color: $silver-abyss;
        border: 2px solid $primary-abyss;
    }
    
    .nsfwtag {
        @include tag($red-abyss, $red-abyss)
    }

    .post-footer .l-hovergray:hover {
        background-color: $gray-var1-abyss;
    }

    .spoilertag {
        @include tag($gray-var1-abyss, $gray-var1-abyss)
    }

    .originaltag {
        @include tag($text-abyss, $primary-abyss);
        background-color: $primary-abyss;
    }

    .configform {
        label, pre {
            color: $text-abyss;
        }
    }
}

/////////////////////////////////
/// 
/// https://github.com/gerane/VSCodeThemes/tree/master/gerane.Theme-Monokai
/// 

$text-monokai: #f8f8f0;
$background-monokai: #272822;
$primary-monokai: #66d9ef;

$red-monokai: #f92672;
$gray-monokai: #cfcfc2;
$gold-monokai: #e6db74;
$green-monokai: #a6e22e;
$silver-monokai: #49483E;

$gray-var1-monokai: #9D550F;

html.monokai {
    color: $text-monokai;
    background-color: darken($background-monokai, 1%);

    body {
        color: $text-monokai;
        background-color: darken($background-monokai, 1%);
    }

    .stickbox {
        background-color: lighten($background-monokai, 3%);
    
        .navbox a {
            color: $primary-monokai;
        }
    }

    a {
        &:hover:not(.l-hovergray) {
            border-color: $primary-monokai;
        }
    
        &:link {
            color: $primary-monokai;
        }
    }

    blockquote {
        border-left: 3px solid $gray-var1-monokai;
    }

    .subinfo {
        background-color: $background-monokai;
    }

    .ltype1 {
        @include fontsettings(24px, 700, 1.7em, $text-monokai);
    }
    
    .ltype2 {
        @include fontsettings(13px, 600, 20px, $gray-monokai);
    }

    #posts div.post {
        background-color: lighten($background-monokai, 1%);
    }
    
    .authorflair {
        color: $text-monokai;
        background-color: $gray-var1-monokai;
    }
    
    .postdata {
        color: $gray-monokai;
    }

    .licon {
        fill: $green-monokai;
    }
    
    .goldicon {
        fill: $gold-monokai;
    }
    
    .gicon {
        fill: $gray-monokai;
    }
    
    .ricon {
        fill: $red-monokai;
    }
    
    .sicon {
        fill: $silver-monokai;
    }
    
    .gtext {
        @include fontsettings(12px, 700, initial, $gray-monokai);
    }

    .extlinkicon {
        background-color: $primary-monokai;
        fill: $text-monokai;
    }
    
    img:not(.malign), video {
        &.preview {
            box-shadow: 0 0 2px $primary-monokai;
        }
    }

    .gallery .gallery-nav label { 
        background-color: $silver-monokai;
        border: 2px solid $primary-monokai;
    }
    
    .nsfwtag {
        @include tag($red-monokai, $red-monokai)
    }

    .post-footer .l-hovergray:hover {
        background-color: $gray-var1-monokai;
    }

    .spoilertag {
        @include tag($gray-var1-monokai, $gray-var1-monokai)
    }

    .originaltag {
        @include tag($text-monokai, $primary-monokai);
        background-color: $primary-monokai;
    }

    .configform {
        label, pre {
            color: $text-monokai;
        }
    }
}

/////////////////////////////////
/// 
/// https://realtimecolors.com
/// https://github.com/cmd777
/// 

$text-redtheme: #f7fdfb;
$background-redtheme: #440716;
$primary-redtheme: #cf325e;

$red-redtheme: #bf3154;
$gray-redtheme: #6c6c6c;
$gold-redtheme: #ffd700;
$green-redtheme: #4caf50;
$silver-redtheme: #d0d0d0;

$gray-var1-redtheme: #888888;

html.redtheme {
    color: $text-redtheme;
    background-color: darken($background-redtheme, 1%);

    body {
        color: $text-redtheme;
        background-color: darken($background-redtheme, 1%);
    }

    .stickbox {
        background-color: lighten($background-redtheme, 3%);
    
        .navbox a {
            color: $primary-redtheme;
        }
    }

    a {
        &:hover:not(.l-hovergray) {
            border-color: $primary-redtheme;
        }
    
        &:link {
            color: $primary-redtheme;
        }
    }

    blockquote {
        border-left: 3px solid $gray-var1-redtheme;
    }

    .subinfo {
        background-color: $background-redtheme;
    }

    .ltype1 {
        @include fontsettings(24px, 700, 1.7em, $text-redtheme);
    }
    
    .ltype2 {
        @include fontsettings(13px, 600, 20px, $gray-redtheme);
    }

    #posts div.post {
        background-color: lighten($background-redtheme, 1%);
    }
    
    .authorflair {
        color: $text-redtheme;
        background-color: $gray-var1-redtheme;
    }
    
    .postdata {
        color: $gray-redtheme;
    }

    .licon {
        fill: $green-redtheme;
    }
    
    .goldicon {
        fill: $gold-redtheme;
    }
    
    .gicon {
        fill: $gray-redtheme;
    }
    
    .ricon {
        fill: $red-redtheme;
    }
    
    .sicon {
        fill: $silver-redtheme;
    }
    
    .gtext {
        @include fontsettings(12px, 700, initial, $gray-redtheme);
    }

    .extlinkicon {
        background-color: $primary-redtheme;
        fill: $text-redtheme;
    }
    
    img:not(.malign), video {
        &.preview {
            box-shadow: 0 0 2px $primary-redtheme;
        }
    }

    .gallery .gallery-nav label { 
        background-color: $silver-redtheme;
        border: 2px solid $primary-redtheme;
    }
    
    .nsfwtag {
        @include tag($red-redtheme, $red-redtheme)
    }

    .post-footer .l-hovergray:hover {
        background-color: $gray-var1-redtheme;
    }

    .spoilertag {
        @include tag($gray-var1-redtheme, $gray-var1-redtheme)
    }

    .originaltag {
        @include tag($text-redtheme, $primary-redtheme);
        background-color: $primary-redtheme;
    }

    .configform {
        label, pre {
            color: $text-redtheme;
        }
    }
}

/////////////////////////////////
/// 
/// https://realtimecolors.com
/// https://github.com/cmd777
/// 

$text-lighttheme: #0f0905;
$background-lighttheme: #faf4f0;
$primary-lighttheme: #b95f22;

$red-lighttheme: #fd7070;
$gray-lighttheme: #585858;
$gold-lighttheme: #f4d03f;
$green-lighttheme: #86c27c;
$silver-lighttheme: #585858;

$gray-var1-lighttheme: #d9af92;

html.lighttheme {
    color: $text-lighttheme;
    background-color: darken($background-lighttheme, 1%);

    body {
        color: $text-lighttheme;
        background-color: darken($background-lighttheme, 1%);    
    }

    .stickbox {
        background-color: lighten($background-lighttheme, 3%);
    
        .navbox a {
            color: $primary-lighttheme;
        }
    }

    a {
        &:hover:not(.l-hovergray) {
            border-color: $primary-lighttheme;
        }
    
        &:link {
            color: $primary-lighttheme;
        }
    }

    blockquote {
        border-left: 3px solid $gray-var1-lighttheme;
    }

    .subinfo {
        background-color: $background-lighttheme;
    }

    .ltype1 {
        @include fontsettings(24px, 700, 1.7em, $text-lighttheme);
    }
    
    .ltype2 {
        @include fontsettings(13px, 600, 20px, $gray-lighttheme);
    }

    #posts div.post {
        background-color: lighten($background-lighttheme, 1%);
    }
    
    .authorflair {
        color: $text-lighttheme;
        background-color: $gray-var1-lighttheme;
    }
    
    .postdata {
        color: $gray-lighttheme;
    }

    .licon {
        fill: $green-lighttheme;
    }
    
    .goldicon {
        fill: $gold-lighttheme;
    }
    
    .gicon {
        fill: $gray-lighttheme;
    }
    
    .ricon {
        fill: $red-lighttheme;
    }
    
    .sicon {
        fill: $silver-lighttheme;
    }
    
    .gtext {
        @include fontsettings(12px, 700, initial, $gray-lighttheme);
    }

    .extlinkicon {
        background-color: $primary-lighttheme;
        fill: $text-lighttheme;
    }
    
    img:not(.malign), video {
        &.preview {
            box-shadow: 0 0 2px $primary-lighttheme;
        }
    }

    .gallery .gallery-nav label { 
        background-color: $silver-lighttheme;
        border: 2px solid $primary-lighttheme;
    }
    
    .nsfwtag {
        @include tag($red-lighttheme, $red-lighttheme)
    }

    .post-footer .l-hovergray:hover {
        background-color: $gray-var1-lighttheme;
    }

    .spoilertag {
        @include tag($gray-var1-lighttheme, $gray-var1-lighttheme)
    }

    .originaltag {
        @include tag($text-lighttheme, $primary-lighttheme);
        background-color: $primary-lighttheme;
    }

    .configform {
        label, pre {
            color: $text-lighttheme;
        }
    }
}

/////////////////////////////////
/// 
/// The themes above may be subject to change
/// 

@font-face {
    font-family: 'Josefin Sans';
    src: url('/fonts/josefin-semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans-semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

$max-width: 100vw;
$max-height: 100vh;
$open-sans: 'Open Sans', sans-serif;
$josefin-sans: 'Josefin Sans', sans-serif;

%badge {
    vertical-align: middle;
    text-indent: 5px;
}

%max-view {
    width: $max-width;
    height: $max-height;
}

html, body {
    margin: 0;
    padding: 0;
    @extend %max-view;
    overflow-x: hidden;
    font-family: $open-sans;
    color: $text;
    background-color: darken($background, 1%);
}

.stickbox {
    background-color: lighten($background, 3%);
    position: fixed;
    top: 0;
    left: 0;
    width: $max-width;
    z-index: 9;

    .navbox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px;
        a {
            color: $primary;
            font-size: x-large;
            font-family: $josefin-sans;
            text-decoration: none;
        }
    }
}

a {
    text-decoration: none;
    transition: 0.5s;
    border-bottom: 1px solid transparent;

    &:hover:not(.l-hovergray) {
        border-color: $primary;
    }

    &:link {
        color: $primary;
        font-weight: bold;
    }
}

pre {
    white-space: pre-wrap;
}

blockquote {
    border-left: 3px solid $gray-var1;
    text-indent: 15px;
}

.l-index {
    font-family: $josefin-sans;
    font-size: 36px;
    text-align: center;
    justify-content: space-around;

    @extend %max-view
}

.content {
    margin-top: 55px;
}

.subinfo {
    background-color: $background;
    padding-bottom: 10px;
}

.ext {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    img {
        margin-top: -10px;
        width: 72px;
        height: 72px;
        border-radius: 100%;
    }
}

.ltype1 {
    display: block;
    text-indent: 15px;
    @include fontsettings(24px, 700, 1.7em, $text);
}

.ltype2 {
    display: block;
    text-indent: 15px;
    width: 50%;
    @include fontsettings(13px, 600, 20px, $gray);
}

.primarycolorcase {
    display: inline-block;
    border-radius: 100%;
    width: 16px;
    height: 16px;
}

#posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    div.post {
        margin-top: 25px;
        width: 720px;
        height: auto;
        background-color: lighten($background, 1%);
        border-radius: 4px;    
    }
}

.authorflair {
    color: $text;
    background-color: $gray-var1;
    padding: 1px;
    border-radius: 2px;
}

.postdata {
    font-size: 12px;
    color: $gray;
    display: block;
    padding: 15px;
}

.post-content {
    text-indent: 0px;
    margin-left: 15px;
    width: 95%;
    overflow-wrap: break-word;
    .post-flair {
        padding: 2px 8px;
        font-size: 12px;
        border-radius: 20px;
    }
    .post-title {
        font-weight: 600;
        line-height: 1.6em;
    }
}

.licon {
    @extend %badge;
    fill: $green;

    &.scale {
        transform: scaleX(1.4)
    }
}

.goldicon {
    @extend %badge;
    fill: $gold;
}

.gicon {
    @extend %badge;
    fill: $gray;
}

.ricon {
    @extend %badge;
    fill: $red;
}

.sicon {
    fill: $silver;
}

.gtext {
    @include fontsettings(12px, 700, initial, $gray);
}

.malign {
    vertical-align: middle;
}

.post-footer {
    text-indent: 0px;
    margin-left: 10px;
    margin-top: 10px;
    line-height: 10px;
    height: 40px;

    .l-hovergray {
        float: left;
        padding: 5px;
        border-radius: 2px;
        margin-right: 15px;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            background-color: $gray-var1;
        }
    }
}

.loadMorebtn {
    height: 30px;
    width: 500px;
    display: block;
    margin: 30px 10%;
    filter: invert(100%);
    font-family: $open-sans;
    font-size: 12px;
    font-weight: 700;
}

.flexbox {
    display: flex;
} .row {
    flex-direction: row;
}; .column {
    flex-direction: column;
}; .flex-start {
    align-self: flex-start;
}; .flex-center {
    align-items: center;
}; .flex-auto {
    flex: 1 1 auto;
    width: 0;
}

.position-relative {
    position: relative;
}

.extlinkicon {
    width: 20px;
    height:20px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $primary;
    text-align: center;
    border-radius: 4px 0px;
    fill: $text;
}

.m-top10 {
    margin-top: 10px;
} .pad-10 {
    padding: 10px;
}

img:not(.malign), video {
    max-height: 512px;
    max-width: 512px;
    display: flex;
    flex-direction: column;
    margin: auto;

    &.preview {
        box-shadow: 0 0 2px $primary;
        border-radius: 4px;
        max-width: 144px
    }
}

.gallery {
    display: flex;
    align-items: center;
    position: relative;
    height: 512px;
    
    input[type="radio"] {
        display: none;

        &:checked + .gallery-img {
            opacity: 1;
            transform: scale(1);
        }
    }

    .gallery-img {
        position: absolute;
        opacity: 0;
        transform: scale(0);
        transition: opacity 0.5s ease;
        width: 100%;    
    }

    .gallery-nav {
        position: absolute;
        bottom: 20px;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;

        label {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: $silver;
            margin: 0px 3px;
            border: 2px solid $primary;
            cursor: pointer;
        }
    }
}

.nsfwtag {
    @include tag($red, $red);
}

.spoilertag {
    @include tag($gray-var1, $gray-var1);
}

.originaltag {
    @include tag($text, $primary);
    background-color: $primary;
}

.configform {
    font-family: $josefin-sans;
    label {
        float: left;
        clear: both;
        margin-top: 20px;
        width: 100%;
        color: $text;
    }

    pre {
        float: left;
        clear: both;
        white-space: pre-line;
        color: $text;
    }

    input[type="submit"] {
        @extend .loadMorebtn;
        margin: auto;
        width: 100%;
    }
}