<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.min.css">
    <title>lex | config</title>
</head>
<body>
    {{template "navbar" .}}

    <div class="flexbox flex-center column sicon pad-10" style="margin-top: 100px; color: #fff;">
        <p style="font-size:42px; font-family: 'Josefin Sans', sans-serif; color: #108dcc">Settings</p>

        <form action="/config" method="post" class="configform">
            <input type="hidden" name="csrf" value="{{.csrf}}">
            <label>
                <input type="checkbox" name="EnableJS" {{if .JSEnabled}} checked {{end}}>
                <input type="hidden" name="EnableJS" value="off">
                Enable HLS.js
            </label>

            <label>
                <input type="checkbox" name="EnableInfScroll" {{if .INFScroll}} checked {{end}}>
                <input type="hidden" name="EnableInfScroll" value="off">
                Enable Infinite Scroll (JS)
            </label>
            
            <label>
                <input type="checkbox" name="AllowNSFW" {{if .NSFWAllowed}} checked {{end}}>
                <input type="hidden" name="AllowNSFW" value="off">
                Allow NSFW Subreddits
            </label>

            <label>
                Preferred Resolution
                <select name="PrefRes">
                    <!-- dear lord -->
                    <option {{if eq .PreferredResolution 0}} selected {{end}}>0</option>
                    <option {{if eq .PreferredResolution 1}} selected {{end}}>1</option>
                    <option {{if eq .PreferredResolution 2}} selected {{end}}>2</option>
                    <option {{if eq .PreferredResolution 3}} selected {{end}}>3</option>
                    <option {{if eq .PreferredResolution 4}} selected {{end}}>4</option>
                    <option {{if eq .PreferredResolution 5}} selected {{end}}>5</option>
                    <option {{if eq .PreferredResolution 11037}} selected {{end}}>Source</option>
                </select>
            </label>
            <pre>
            Which should I choose?
            For fastest loading speeds, and lowest data usage, choose 0: you will need a microscope as well.
            For average loading speeds, and average data usage, choose 3: overall, well balanced.
            For slow loading speeds, and high data usage, choose 5: slow loading, but high image quality.
            For slowest loading speeds, and highest data usage, choose Source: best image quality, but slow loading speeds.
            Notice: In some rare cases, source may cause some issues, and so the recommended resolution to use is 5.
            If a resolution is not available, it will choose the next highest resolution (eg, if 5 is not available, then 4 will be used, and so on.)
            </pre>

            <label>
                Preferred Style
                <select name="PrefStyle" disabled>
                    <option>Dark</option>
                    <option>Dracula</option>
                    <option>Solarized</option>
                    <option>Abyss</option>
                    <option>Monokai</option>
                    <option>Red</option>
                    <option>Light</option>
                </select>
            </label>

            <label>
                <input type="submit" value="Save Changes">
            </label>
        </form>
    </div>
</body>
</html>