<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.min.css">
    <title>lex | config</title>
</head>
<body>
    {{template "navbar" .}}

    <div class="flexbox flex-center column sicon pad-10" style="margin-top: 100px; color: #fff;">
        <p style="font-size:42px; font-family: 'Josefin Sans', sans-serif; color: #108dcc">Settings</p>

        <form action="/config" method="post" class="configform">
            <label>
                <input type="checkbox" name="EnableJS" {{if .JSEnabled}} checked {{end}}>
                <input type="hidden" name="EnableJS" value="off">
                Enable HLS.js
            </label>
            <pre>
                PROS:
                Allows Video Streaming (better for long video loading)
                HLS Videos will have sound (if there is.)
                More bandwidth efficient

                CONS:
                Requires Javascript
                Not compatible with older browsers
                Performance may suffer
            </pre>

            <label>
                <input type="checkbox" name="EnableInfScroll" {{if .INFScroll}} checked {{end}}>
                <input type="hidden" name="EnableInfScroll" value="off">
                Enable Infinite Scroll (JS)
            </label>
            <pre>
                PROS:
                Easier access to older posts
                More convenient

                CONS:
                Requires Javascript
                Performance may suffer, a lot. (Posts are not de-loaded)
            </pre>

            <label>
                <input type="checkbox" name="EnableGalleryNav" {{if .GalleryNav}} checked {{end}}>
                <input type="hidden" name="EnableGalleryNav" value="off">
                Enable Gallery Navigation (JS)
            </label>
            <pre>
                PROS:
                Enables Gallery Navigation via Arrow Keys

                CONS:
                Requires Javascript
                Performance may suffer
            </pre>
            
            <label>
                <input type="checkbox" name="AllowNSFW" {{if .NSFWAllowed}} checked {{end}}>
                <input type="hidden" name="AllowNSFW" value="off">
                Allow NSFW Subreddits and Posts
            </label>

            <label>
                <input type="checkbox" name="TrustUnknownSrc" {{if .TrustUSrc}} checked {{end}}>
                <input type="hidden" name="TrustUnknownSrc" value="off">
                Trust Unknown Image Sources
            </label>
            <pre>
                On really broken subreddits, where we have absolutely no clue what we are looking at,
                we will allow the URLs that we got to be put in img tags, if they qualify.

                WARNING: This will allow ALL images to be put in img tags. And there is no quality selection.
                Meaning that upwards of 50mb images or gifs can be put in img tags.
                Basically, this can have a devastating effect on your bandwidth.
                Recommended if you have a good connection, that is not metered.
            </pre>

            <label>
                Preferred Resolution
                <select name="PrefRes">
                    <!-- dear lord -->
                    <option {{if eq .PreferredResolution 0}} selected {{end}}>0</option>
                    <option {{if eq .PreferredResolution 1}} selected {{end}}>1</option>
                    <option {{if eq .PreferredResolution 2}} selected {{end}}>2</option>
                    <option {{if eq .PreferredResolution 3}} selected {{end}}>3</option>
                    <option {{if eq .PreferredResolution 4}} selected {{end}}>4</option>
                    <option {{if eq .PreferredResolution 5}} selected {{end}}>5</option>
                    <option {{if eq .PreferredResolution 11037}} selected {{end}}>Source</option>
                </select>
            </label>
            <pre>
                Which should I choose?
                For fastest loading speeds, and lowest data usage, choose 0: you will need a microscope as well.
                For average loading speeds, and average data usage, choose 3: overall, well balanced.
                For slow loading speeds, and high data usage, choose 5: slow loading, but high image quality.
                For slowest loading speeds, and highest data usage, choose Source: best image quality, but slow loading speeds.
                Notice: In some rare cases, source may cause some issues, and so the recommended resolution to use is 5.
                If a resolution is not available, it will choose the next highest resolution (eg, if 5 is not available, then 4 will be used, and so on.)
            </pre>

            <label>
                Preferred Style
                <select name="PrefStyle" disabled>
                    <option>Dark</option>
                    <option>Dracula</option>
                    <option>Solarized</option>
                    <option>Abyss</option>
                    <option>Monokai</option>
                    <option>Red</option>
                    <option>Light</option>
                </select>
            </label>

            <label>
                <input type="submit" value="Save Changes">
            </label>
        </form>
    </div>
</body>
</html>