<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.min.css">
    <title>LEX | LazerEX</title>
</head>
<body>
    {{template "navbar" .}}

    <div class="flexbox column l-index">
        <span>LEX | LazerEX</span>
        <span>LEX is an open source, lightweight frontend for Reddit.</span>
        <span>To get started, navigate to <pre>localhost:9090/r/{subreddit}</pre></span>
    </div>
</body>
</html>