<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.min.css">
    <title>lex | {{.SubData.Title}}</title>
</head>
<body>
    {{template "navbar" .}}
    <div class="content">
        <span style="display:block; padding:15px; background: url({{.SubData.Banner|replaceAmp}}) center center/cover no-repeat; height: 192px; {{if and (.SubData.PrimaryColor) (not .SubData.Banner) }} background-color: {{.SubData.PrimaryColor}}; {{end}}"></span>
        <div class="subinfo">
            <div class="ext">
                <img src="{{.SubData.CommunityIcon|replaceAmp}}" class="img" {{if and (.SubData.PrimaryColor) (not .SubData.CommunityIcon) }} style="background-color: {{.SubData.PrimaryColor}};" {{end}}>
                <span class="ltext ltype1">{{.SubData.Title}}</span>
                <span class="ltext ltype2">{{.SubData.DisplayNamePrefixed}} &bullet; {{.SubData.Created|fmtEpochDate}} ({{.SubData.Created|fmtHumanDate}}) &bullet; {{.SubData.ActiveUserCount|fmtHumanComma}} Active Users &bullet; {{.SubData.MemberCount|fmtHumanComma}} Members {{if .SubData.PrimaryColor}} &bullet; <span class="primarycolorcase" style="background-color: {{.SubData.PrimaryColor}};">&nbsp;</span> {{.SubData.PrimaryColor}} Primary color {{end}}</span>
                <span class="ltext ltype2">{{.SubData.Description}}</span>
            </div>
        </div>   
        {{if not .NSFWAllowed}}
            <div class="gridcenter">
                <form action="/config" method="post">
                    <p style="color: white;">Hello, this appears to be an NSFW Subreddit.</p>
                    <p style="color: white;">Don't worry, we aren't gonna ID you, but we do need to confirm that you are over 18. <br>This is only shown once, or until cookies are cleared.</p>
                    <input type="submit" value="Yes, I am over 18.">
                    <input type="button" value="No, Take me back to safety." onclick="window.location.href = 'https://google.com'">
                </form>
            </div>
        {{end}}
        {{if .NSFWAllowed}}
            <div id="posts">
                {{template "posts.html" .}}
            </div>
        {{end}}
    </div>

    <script src="/js/main.min.js"></script>
</body>
</html>