@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

$max-width: 100vw;
$max-height: 100vh;
$open-sans: 'Open Sans', sans-serif;
$josefin-sans: 'Josefin Sans', sans-serif;

@mixin fontsettings($size, $weight, $lheight, $color) {
    font-size: $size;
    font-weight: $weight;
    line-height: $lheight;
    color: $color;
}

%badge {
    vertical-align: middle;
    text-indent: 5px;
}

%max-view {
    width: $max-width;
    height: $max-height;
}

%grid-template {
    display: grid;
    grid-template: 1fr / auto auto auto;
}

html, body {
    margin: 0;
    padding: 0;
    @extend %max-view;
    overflow-x: hidden;
    font-family: $open-sans;
    background-color: #181818;
}

$navmap: (1: left, 2: center, 3: right);

.stickbox {
    background-color: #303030;
    position: fixed;
    top: 0;
    left: 0;
    width: $max-width;
    z-index: 9;

    .navbox {
        @extend %grid-template;
        padding: 15px;
        a {
            color: #108dcc;
            font-size: x-large;
            font-family: $josefin-sans;
            text-decoration: none;
        }
        @each $child, $align in $navmap {
            a:nth-child(#{$child}) {
                text-align: $align;
            }
        }
    }
}

.l-index {
    font-family: $josefin-sans;
    font-size: 36px;
    text-align: center;
    color: #fff;
    justify-content: space-around;

    @extend %max-view
}

.content {
    margin-top: 55px;
}

.subinfo {
    background-color: #202020;
    padding-bottom: 10px;
}

.ext {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    img {
        margin-top: -10px;
        width: 72px;
        height: 72px;
        border-radius: 100%;
    }
}

.ltype1 {
    display: block;
    text-indent: 15px;
    @include fontsettings(24px, 700, 1.7em, #fff);
}

.ltype2 {
    display: block;
    text-indent: 15px;
    width: 50%;
    @include fontsettings(13px, 600, 20px, #808080);
}

.primarycolorcase {
    display: inline-block;
    border-radius: 100%;
    width: 16px;
    height: 16px;
}

#posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    div.post {
        margin-top: 25px;
        width: 720px;
        height: auto;
        color: #fff;
        background-color: #292828;
        border-radius: 4px;    
    }
}

.authorflair {
    color: #eee;
    background-color: #646464;
    padding: 1px;
    border-radius: 2px;
}

.postdata {
    font-size: 12px;
    color: #909090;
    display: block;
    padding: 15px;
}

.post-content {
    text-indent: 0px;
    margin-left: 15px;
    width: 95%;
    overflow-wrap: break-word;
    .post-flair {
        padding: 2px 8px;
        font-size: 12px;
        border-radius: 20px;
    }
    .post-title {
        font-weight: 600;
        line-height: 1.6em;
    }
}

.licon {
    @extend %badge;
    fill: #75d377;

    &.scale {
        transform: scaleX(1.4)
    }
}

.goldicon {
    @extend %badge;
    fill: #ffd635;
}

.gicon {
    @extend %badge;
    fill: #909090;
}

.sicon {
    fill: #C0C0C0;
}

.gtext {
    @include fontsettings(12px, 700, initial, #909090);
}

.malign {
    vertical-align: middle;
}

.post-footer {
    text-indent: 0px;
    margin-left: 10px;
    margin-top: 10px;
    line-height: 10px;
    height: 40px;

    .l-hovergray {
        float: left;
        padding: 5px;
        border-radius: 2px;
        margin-right: 15px;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            background-color: #646464;
        }
    }
}

.loadMorebtn {
    height: 30px;
    width: 500px;
    display: block;
    margin: 30px 10%;
    filter: invert(100%);
    font-family: $open-sans;
    font-size: 12px;
    font-weight: 700;
}

.flexbox {
    display: flex;
} .row {
    flex-direction: row;
}; .column {
    flex-direction: column;
}; .flex-start {
    align-self: flex-start;
}; .flex-center {
    align-items: center;
}; .flex-auto {
    flex: 1 1 auto;
    width: 0;
}

.position-relative {
    position: relative;
}

.extlinkicon {
    width: 20px;
    height:20px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #0079D3;
    text-align: center;
    border-radius: 4px 0px;
    fill: #fff;
}

.m-top10 {
    margin-top: 10px;
}
.pad-10 {
    padding: 10px;
}

.fitimg {
    max-height: 512px;
    max-width: 512px;
    display: flex;
    flex-direction: column;
    margin: auto;

    &.preview {
        box-shadow: 0 0 2px #0079D3;
        border-radius: 4px;
        width: 144px
    }
}

.gallery {
    display: flex;
    align-items: center;
    position: relative;
    height: 512px;
    
    input[type="radio"] {
        display: none;

        &:checked + .gallery-img {
            opacity: 1;
            transform: scale(1);
        }
    }

    .gallery-img {
        position: absolute;
        opacity: 0;
        transform: scale(0);
        transition: opacity 0.5s ease;
        width: 100%;    
    }

    .gallery-nav {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;

        label {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: #C0C0C0;
            margin: 0px 5px;
            cursor: pointer;
        }
    }
}

@mixin tag($color) {
    border: 1px solid $color;
    text-align: center;
    color: $color;
    font-size: 12px;
    padding: 0px 4px;
    margin-left: 5px;
}

.nsfwtag {
    @include tag(#ff585b)
}

.spoilertag {
    @include tag(#757575)
}