<!DOCTYPE html>
<html lang="en" class="{{.PreferredTheme}}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>LEX | config</title>
</head>
<body>
    {{template "views/navbar" .}}

    <div class="flexbox flex-center column sicon pad-10" style="margin-top: 100px; color: #fff;">
        <p style="font-size:42px; font-family: 'Josefin Sans', sans-serif; color: #108dcc">Settings</p>

        <form action="/config" method="post" class="configform">
            <label>
                <input type="checkbox" name="EnableJS" {{if .JSEnabled}} checked {{end}}>
                <input type="hidden" name="EnableJS" value="off">
                Enable HLS.js
            </label>
            <pre>
                PROS:
                Allows Video Streaming (better for long video loading)
                HLS Videos will have sound (if there is.)
                More bandwidth efficient

                CONS:
                Requires Javascript
                Not compatible with older browsers
                Performance may suffer
            </pre>

            <label>
                <input type="checkbox" name="EnableInfScroll" {{if .INFScroll}} checked {{end}}>
                <input type="hidden" name="EnableInfScroll" value="off">
                Enable Infinite Scroll (JS)
            </label>
            <pre>
                PROS:
                Easier access to older posts
                More convenient

                CONS:
                Requires Javascript
                Performance may suffer, a lot. (Posts are not de-loaded)
            </pre>

            <label>
                <input type="checkbox" name="EnableGalleryNav" {{if .GalleryNav}} checked {{end}}>
                <input type="hidden" name="EnableGalleryNav" value="off">
                Enable Gallery Navigation (JS)
            </label>
            <pre>
                PROS:
                Enables Gallery Navigation via Arrow Keys

                CONS:
                Requires Javascript
                Performance may suffer
            </pre>
            
            <label>
                <input type="checkbox" name="AllowNSFW" {{if .NSFWAllowed}} checked {{end}}>
                <input type="hidden" name="AllowNSFW" value="off">
                Allow NSFW Subreddits and Posts
            </label>

            <label>
                <input type="checkbox" name="TrustUnknownSrc" {{if .TrustUSrc}} checked {{end}}>
                <input type="hidden" name="TrustUnknownSrc" value="off">
                Trust Unknown Image Sources
            </label>
            <pre>
                On really broken subreddits, where we have absolutely no clue what we are looking at,
                we will allow the URLs that we got to be put in img tags, if they qualify.

                WARNING: This will allow ALL images to be put in img tags. And there is no quality selection.
                Meaning that upwards of 50mb images or gifs can be put in img tags.
                Basically, this can have a devastating effect on your bandwidth.
                Recommended if you have a good connection, that is not metered.
            </pre>

            <label>
                <input type="checkbox" name="UseAdvancedMath" {{if .UseAdvMath}} checked {{end}}>
                <input type="hidden" name="UseAdvancedMath" value="off">
                Use Advanced Math (CSS) (Viewport Sizing)
            </label>
            <pre>
                PROS:
                Uses clamp to size posts, images

                CONS:
                Requires newer browsers (see in the github compatability section)
                May impact performance
            </pre>

            <label>
                <input type="checkbox" name="BlockAwards" {{if .DisableAwards}} checked {{end}}>
                <input type="hidden" name="BlockAwards" value="off">
                Disable Awards
            </label>
            <pre>
                Enabling this config will not load any awards
                Including comment achievements, and starred comments
                Useful if there is a LOT of awards on a post (and it may be distracting)
                Can also speed up load times and uses less data
            </pre>

            <label>
                <input type="checkbox" name="DontLoadComments" {{if .DisableComments}} checked {{end}}>
                <input type="hidden" name="DontLoadComments" value="off">
                Don't load Comments
            </label>
            <pre>
                Disables loading of comments, preventing any potential future panics.
                From version 299799 to 299836, an inefficient way was used to unmarshal & range comments,
                often resulting in a panic, since version 299837 a new method is used, that should avoid
                such panics. This is a backup option in case anything breaks.
            </pre>

            <label>
                Preferred Resolution
                <select name="PrefRes">
                    {{range $itmp, $rhelp := .ResHelper}}
                        <option value="{{$rhelp.Value}}" {{if eq $.PreferredResolution $rhelp.Value}} selected {{end}}>{{$rhelp.Name}}</option>
                    {{end}}
                </select>
            </label>
            <pre>
                Which should I choose?
                For fastest loading speeds, and lowest data usage, choose 0: you will need a microscope as well.
                For average loading speeds, and average data usage, choose 3: overall, well balanced.
                For slow loading speeds, and high data usage, choose 5: slow loading, but high image quality.
                For slowest loading speeds, and highest data usage, choose Source: best image quality, but slow loading speeds.
                Notice: In some rare cases, source may cause some issues, and so the recommended resolution to use is 5.
                If a resolution is not available, it will choose the next highest resolution (eg, if 5 is not available, then 4 will be used, and so on.)
            </pre>

            <label>
                Preferred Theme
                <select name="PrefTheme">
                    {{range $ktmp, $thelp := .ThemeHelper}}
                        <option value="{{$thelp.Value}}" {{if eq $.PreferredTheme $thelp.Value}} selected {{end}}>{{$thelp.Name}}</option>
                    {{end}}
                </select>
            </label>

            <label>
                <input type="submit" value="Save Changes">
            </label>
        </form>
    </div>
</body>
</html>